Source: chimera-daily
Maintainer: Jeongseok Lee <jeongseok@cmu.edu>
Uploaders: Jeongseok Lee <jeongseok@cmu.edu>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               cmake,
               llvm-3.6-dev,
               llvm-3.6-tools,
               libclang-3.6-dev,
               libedit-dev,
               libyaml-cpp-dev,
               libboost-dev (>= 1.54.0.1ubuntu1)
Standards-Version: 3.9.8
Homepage: https://github.com/personalrobotics/chimera
Vcs-Git: git://github.com/personalrobotics/chimera.git
Vcs-Browser: https://github.com/personalrobotics/chimera.git

Package: chimera-daily
Architecture: any
Multi-Arch: foreign
Depends: ${shlibs:Depends},
         ${misc:Depends},
         llvm-3.6-dev,
         llvm-3.6-tools,
         libclang-3.6-dev,
         libedit-dev,
         libyaml-cpp-dev
Description: Utility to generate Boost.Python bindings for C++ code - Binaries
 Chimera is a tool for generating Boost.Python bindings from C/C++ header files.
 It uses the Clang/LLVM toolchain, making it capable of automatically handling 
 fairly complex source files.
